* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f3e5d8;
}

header {
    background: #6f4e37;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 100px;
    background: url(https://media.istockphoto.com/id/1467739359/photo/cup-of-coffee-with-smoke-and-coffee-beans-on-old-wooden-background.jpg?s=612x612&w=0&k=20&c=tE80r7iDn7S9YwIJVuKAm5KmpJPVz5HbRDc975IlKVo=) no-repeat center center/cover;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #d2691e;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background: #6f4e37;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
